@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/opensans-bold.ttf.woff2") format("woff2"), url("../fonts/opensans-bold.ttf.woff") format("woff"), url("../fonts/opensans-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff"), url("../fonts/roboto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-bold.woff2") format("woff2"), url("../fonts/roboto-bold.woff") format("woff"), url("../fonts/roboto-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

h2 {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 36px;
  line-height: 41px;
  color: hsl(225, 13%, 18%);
}
@media (max-width: 1161px) {
  h2 {
    font-size: 30px;
    line-height: 33px;
  }
}
@media (max-width: 769px) {
  h2 {
    font-size: 20px;
    line-height: 23px;
  }
}
@media (max-width: 371px) {
  h2 {
    font-size: 17px;
    line-height: 19px;
  }
}

a {
  text-decoration: none;
  transition: 0.3s ease-out;
}
a:hover {
  color: hsl(19, 84%, 59%);
}
a:active {
  color: hsl(19, 62%, 51%);
}

p {
  color: hsl(225, 13%, 18%);
}

.button {
  font-family: "Open-Sans";
  background-color: hsl(225, 13%, 18%);
  border-radius: 8px;
  transition: 0.3s ease-out;
  color: #FFFFFF;
  padding: 12px 31px;
  font-size: 18px;
  line-height: 21px;
  border: none;
}
.button:hover {
  background-color: hsl(19, 84%, 59%);
}
.button:active {
  background-color: hsl(19, 62%, 51%);
}
.button:disabled {
  background-color: hsl(240, 2%, 84%);
}
.button--centre {
  margin: auto;
}
@media (max-width: 577px) {
  .button--small {
    font-size: 16px;
    line-height: 19px;
  }
}
@media (max-width: 371px) {
  .button--small {
    font-size: 14px;
    line-height: 17px;
    padding: 12px 22px;
  }
}

.header {
  width: 100%;
  padding: 0 15px;
  position: relative;
}
.header.active {
  border-bottom: 1px solid hsl(210, 31%, 87%);
}
.header__container {
  margin: auto;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 20px 0;
  max-width: 1440px;
  justify-content: space-between;
}
@media (max-width: 1919px) {
  .header-container {
    max-width: 1160px;
  }
}
@media (max-width: 1161px) {
  .header-container {
    max-width: 768px;
    padding: 15px 0;
  }
}
@media (max-width: 769px) {
  .header-container {
    max-width: 576px;
  }
}
@media (max-width: 577px) {
  .header-container {
    max-width: 358px;
    padding: 18px 0;
  }
}

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1161px) {
  .header-title {
    width: 100%;
  }
}

.header-burger {
  display: none;
  width: 30px;
  height: 24px;
  position: relative;
  cursor: pointer;
  padding: 24px;
  background: none;
  border: 1px solid hsl(225, 13%, 18%);
  border-radius: 8px;
}
@media (max-width: 1161px) {
  .header-burger {
    display: block;
  }
}
@media (max-width: 577px) {
  .header-burger {
    padding: 22px;
  }
}
.header-burger::before, .header-burger::after {
  content: "";
  position: absolute;
  left: 28%;
  width: 23px;
  height: 2px;
  background-color: hsl(225, 13%, 18%);
  border-radius: 3px;
  transition: all 0.3s ease;
}
.header-burger::before {
  top: 29%;
}
.header-burger::after {
  bottom: 33%;
}
.header-burger.active::before {
  transform: rotate(45deg) translate(5px, 6px);
}
@media (max-width: 577px) {
  .header-burger.active::before {
    transform: rotate(45deg) translate(5px, 6px);
  }
}
.header-burger.active::after {
  transform: rotate(-45deg) translate(5px, -6px);
}
@media (max-width: 577px) {
  .header-burger.active::after {
    transform: rotate(-45deg) translate(3px, -6px);
  }
}
.header-burger__middle {
  position: absolute;
  left: 28%;
  top: 47%;
  transform: translateY(-50%);
  width: 23px;
  height: 2px;
  background-color: hsl(225, 13%, 18%);
  border-radius: 3px;
  transition: all 0.3s ease;
}
.header-burger.active .header-burger__middle {
  opacity: 0;
  transform: translateX(-20px);
}

.header-nav {
  width: 100%;
  max-width: 830px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1161px) {
  .header-nav {
    flex-direction: column;
    max-width: 768px;
    position: absolute;
    top: 101%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.4s ease;
    background: linear-gradient(178deg, hsla(0, 0%, 100%, 0) 0%, hsl(0, 0%, 100%) 15%);
    padding-top: 10px;
  }
  .header-nav.active {
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .header-nav__item {
    width: 100%;
    padding: 22px 0;
    border-bottom: 1px solid hsl(210, 31%, 87%);
  }
}
@media (max-width: 769px) {
  .header-nav {
    max-width: 576px;
  }
}
@media (max-width: 577px) {
  .header-nav {
    max-width: 358px;
    padding-top: 9px;
  }
}
@media (max-width: 577px) {
  .header-nav {
    max-width: 290px;
  }
}
.header-nav__item {
  color: hsl(225, 13%, 18%);
  font-family: "Open-Sans";
  font-size: 16px;
  line-height: 19px;
}

.recommendations {
  width: 100%;
  padding: 0 15px;
}
.recommendations__container {
  margin: auto;
}

.recommendations-container {
  display: flex;
  max-width: 1440px;
  padding-top: 80px;
  flex-direction: column;
}
@media (max-width: 1919px) {
  .recommendations-container {
    max-width: 1160px;
  }
}
@media (max-width: 1161px) {
  .recommendations-container {
    max-width: 768px;
    padding-top: 52px;
  }
}
@media (max-width: 769px) {
  .recommendations-container {
    max-width: 576px;
    padding-top: 48px;
  }
}
@media (max-width: 577px) {
  .recommendations-container {
    max-width: 358px;
  }
}

.recommendations-cards {
  padding-top: 34px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 2px;
}
@media (max-width: 769px) {
  .recommendations-cards {
    padding-top: 31px;
  }
}
@media (max-width: 577px) {
  .recommendations-cards {
    padding-top: 20px;
    padding-bottom: 0;
  }
}

.card {
  border: 1px solid hsl(210, 25%, 90%);
  display: flex;
  border-radius: 8px;
  align-items: center;
  margin-bottom: 30px;
  width: 48.9%;
  transition: 0.3s ease-out;
}
.card:hover {
  box-shadow: 0px 20px 20px 0px hsla(0, 0%, 0%, 0.17);
}
@media (max-width: 1919px) {
  .card {
    width: 48.7%;
  }
}
@media (max-width: 1161px) {
  .card {
    width: 100%;
  }
}
@media (max-width: 577px) {
  .card {
    width: 170px;
    margin-bottom: 20px;
    flex-direction: column;
  }
}
@media (max-width: 371px) {
  .card {
    max-width: 136px;
  }
}
@media (max-width: 577px) {
  .card--disable {
    display: none;
  }
}
.card__img {
  margin: -1px;
  width: 220px;
  height: 220px;
}
@media (max-width: 577px) {
  .card__img {
    width: 170px;
    height: 170px;
  }
}
@media (max-width: 371px) {
  .card__img {
    width: 136px;
    height: 136px;
  }
}
@media (max-width: 577px) {
  .card__info {
    margin: 0px;
    padding: 10px;
  }
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 30px;
}
@media (max-width: 1161px) {
  .card-info {
    width: 40%;
  }
}
@media (max-width: 769px) {
  .card-info {
    width: 60%;
  }
}
@media (max-width: 577px) {
  .card-info {
    width: auto;
    padding: 11px;
  }
}
.card-info__txt {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 22px;
}
@media (max-width: 577px) {
  .card-info__txt {
    height: 98px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 371px) {
  .card-info__txt {
    font-size: 14px;
    line-height: 17px;
  }
}
.card-info__availability {
  display: flex;
  align-items: center;
  font-family: "Open-Sans";
  font-size: 16px;
  line-height: 18px;
  padding: 16px 0;
}
@media (max-width: 577px) {
  .card-info__availability {
    padding: 12px 0;
    font-size: 14px;
    line-height: 17px;
  }
}
@media (max-width: 371px) {
  .card-info__availability {
    font-size: 12px;
    line-height: 15px;
  }
}
.card-info__availability--orange::before {
  content: "";
  display: block;
  background-image: url("../img/orange.svg");
  width: 14px;
  height: 14px;
  margin-right: 10px;
}
.card-info__availability--green::before {
  content: "";
  display: block;
  background-image: url("../img/green.svg");
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.about {
  width: 100%;
  padding: 0 15px;
}
.about__container {
  margin: auto;
}

.about-container {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  padding: 7px 0;
}
@media (max-width: 1919px) {
  .about-container {
    padding: 84px 0;
    max-width: 1160px;
  }
}
@media (max-width: 1161px) {
  .about-container {
    max-width: 768px;
    padding: 53px 0;
  }
}
@media (max-width: 769px) {
  .about-container {
    max-width: 576px;
    padding: 49px 0;
  }
}
@media (max-width: 577px) {
  .about-container {
    max-width: 360px;
  }
}
@media (max-width: 371px) {
  .about-container {
    max-width: 290px;
  }
}

.about-content {
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1161px) {
  .about-content {
    flex-direction: column;
  }
}
@media (max-width: 769px) {
  .about-content {
    padding: 31px 0;
  }
}
@media (max-width: 577px) {
  .about-content {
    padding: 21px 0;
  }
}

.about-content-img {
  display: flex;
  flex-wrap: wrap;
  width: min-content;
  gap: 26px;
  justify-content: space-between;
  align-content: flex-start;
}
@media (max-width: 1919px) {
  .about-content-img {
    gap: 18px;
  }
}
@media (max-width: 1161px) {
  .about-content-img {
    gap: 27px;
  }
}
@media (max-width: 769px) {
  .about-content-img {
    gap: 20px;
  }
}
@media (max-width: 577px) {
  .about-content-img {
    gap: 11px;
  }
}

.about-content-info {
  padding-left: 30px;
}
@media (max-width: 1919px) {
  .about-content-info {
    padding-left: 30px;
  }
}
@media (max-width: 1161px) {
  .about-content-info {
    padding-left: 0;
    padding-top: 26px;
  }
}
@media (max-width: 577px) {
  .about-content-info {
    padding-top: 16px;
  }
}
.about-content-info__title {
  font-family: "Open-Sans";
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: hsl(225, 13%, 18%);
}
@media (max-width: 371px) {
  .about-content-info__title {
    word-break: break-word;
  }
}
.about-content-info__txt {
  font-family: "Open-Sans";
  font-size: 16px;
  line-height: 24px;
  color: hsl(225, 13%, 18%);
  margin-bottom: 31px;
}
@media (max-width: 1919px) {
  .about-content-info__txt {
    line-height: 21px;
    margin-bottom: 33px;
  }
}
@media (max-width: 769px) {
  .about-content-info__txt {
    line-height: 23px;
    margin-bottom: 32px;
  }
}
@media (max-width: 577px) {
  .about-content-info__txt {
    margin-bottom: 20px;
  }
}

.about-content-info-list {
  list-style: none;
}
.about-content-info-list__item {
  font-family: "Open-Sans";
  font-size: 16px;
  line-height: 23px;
  padding-left: 39px;
  margin: 21px 0;
  position: relative;
  color: hsl(225, 13%, 18%);
}
@media (max-width: 1919px) {
  .about-content-info-list__item {
    margin: 22px 0;
  }
}
@media (max-width: 577px) {
  .about-content-info-list__item {
    margin: 20px 0;
  }
}
.about-content-info-list__item::before {
  content: "";
  background: url("../img/list.svg");
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}