@font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/opensans.woff2') format('woff2'),
         url('../fonts/opensans.woff') format('woff'),
         url('../fonts/opensans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/opensans-Bold.ttf.woff2') format('woff2'),
         url('../fonts/opensans-Bold.ttf.woff') format('woff'),
         url('../fonts/opensans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto.woff2') format('woff2'),
         url('../fonts/roboto.woff') format('woff'),
         url('../fonts/roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-Bold.woff2') format('woff2'),
         url('../fonts/roboto-Bold.woff') format('woff'),
         url('../fonts/roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

h2 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 36px;
    line-height: 41px;
    color: hsla(225, 13%, 18%, 1);

    @media (max-width: 1161px) {
        font-size: 30px;
        line-height: 33px;
    }

    @media (max-width: 769px) {
        font-size: 20px;
        line-height: 23px;
    }
}

a {
    text-decoration: none;
    transition: 0.3s ease-out;

    &:hover{
        color:hsla(19, 84%, 59%, 1);
    }

    &:active {
        color: hsl(19, 62%, 51%);
    }
}

p {
    color: hsla(225, 13%, 18%, 1);
}

.button {
    font-family:'Open-Sans';
    background-color: hsla(225, 13%, 18%, 1);
    border-radius: 8px;
    transition: 0.3s ease-out;
    color: #FFFFFF;
    padding: 12px 31px;
    font-size: 18px;
    line-height: 21px;
    border: none;

    &:hover {
        background-color: hsla(19, 84%, 59%, 1) ;
    }

    &:active {
        background-color: hsl(19, 62%, 51%);
    }

    &:disabled {
        background-color: hsl(240, 2%, 84%);
    }

    &--centre {
        margin: auto;
    }

    &--small {

        @media (max-width: 577px) {
            font-size: 16px;
            line-height: 19px;
        }
    }
}

.header {
    width: 100%;
    padding: 0 15px;
    position: relative;

    &.active {
        border-bottom: 1px solid hsla(210, 31%, 87%, 1);
    }

    &__container {
        margin: auto;
    }
}

.header-container {
    display: flex;
    align-items: center;
    padding: 20px 0;
    max-width: 1440px;
    justify-content: space-between;

    @media (max-width: 1919px) {
        max-width: 1160px;
    }

    @media (max-width: 1161px) {
        max-width: 768px;
        padding: 15px 0;
    }

    @media (max-width: 769px) {
        max-width: 576px;
    }

    @media (max-width: 577px) {
        max-width: 358px;
        padding: 18px 0;
    }
}

.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1161px) {
        width: 100%;
    }
}

.header-burger {
    display: none;
    width: 30px;
    height: 24px;
    position: relative;
    cursor: pointer;
    padding: 24px;
    background: none;
    border: 1px solid hsla(225, 13%, 18%, 1);
    border-radius: 8px;

    @media (max-width: 1161px) {
        display: block;
    }

    @media (max-width: 577px) {
        padding: 22px;
    }

    &::before, &::after {
        content: '';
        position: absolute;
        left: 28%;
        width: 23px;
        height: 2px;
        background-color: hsla(225, 13%, 18%, 1);
        border-radius: 3px;
        transition: all 0.3s ease;
    }

    &::before {
        top: 29%;
    }

    &::after {
        bottom: 33%;
    }

    &.active::before {
        transform: rotate(45deg) translate(5px, 6px);

        @media (max-width: 577px) {
            transform: rotate(45deg) translate(5px, 6px);
        }
    }

    &.active::after {
        transform: rotate(-45deg) translate(5px, -6px);

        @media (max-width: 577px) {
            transform: rotate(-45deg) translate(3px, -6px);
        }
    }

    &__middle {
        position: absolute;
        left: 28%;
        top: 47%;
        transform: translateY(-50%);
        width: 23px;
        height: 2px;
        background-color: hsla(225, 13%, 18%, 1);
        border-radius: 3px;
        transition: all 0.3s ease;
    }

    &.active &__middle {
        opacity: 0;
        transform: translateX(-20px);
    }
}

.header-nav {
    width: 100%;
    max-width: 830px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1161px) {
        flex-direction: column;
        max-width: 768px;
        position: absolute;
        top: 101%;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: all 0.4s ease;
        background: linear-gradient(178deg,hsla(0, 0%, 100%, 0) 0%, hsl(0, 0%, 100%) 15%);
        padding-top: 10px;
        box-shadow: 0px 20px 20px 0px hsla(0, 0%, 0%, 0.17);

        &.active {
            display: flex;
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

        &__item {
            width: 100%;
            padding: 22px 0;
            border-bottom: 1px solid hsla(210, 31%, 87%, 1)
        }
    }

    @media (max-width: 769px) {
        max-width: 576px;
    }

    @media (max-width: 577px) {
        max-width: 358px;
        padding-top: 9px;
    }


    &__item {
        color: hsla(225, 13%, 18%, 1);
        font-family:'Open-Sans';
        font-size: 16px;
        line-height: 19px;
    }
}

.recommendations {
    width: 100%;
    padding: 0 15px;

    &__container {
        margin: auto;
    }
}

.recommendations-container {
    display: flex;
    max-width: 1440px;
    padding-top: 80px;
    flex-direction: column;

    @media (max-width: 1919px) {
        max-width: 1160px;
    }

    @media (max-width: 1161px) {
        max-width: 768px;
        padding-top: 52px;
    }

    @media (max-width: 769px) {
        max-width: 576px;
        padding-top: 48px;
    }

    @media (max-width: 577px) {
        max-width: 358px;
    }
}

.recommendations-cards {
    padding-top: 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2px;

    @media (max-width: 769px) {
        padding-top: 31px;
    }

    @media (max-width: 577px)  {
        padding-top: 20px;
        padding-bottom: 0;
    }
}

.card {
    border: 1px solid hsla(210, 25%, 90%, 1);
    display: flex;
    border-radius: 8px;
    align-items: center;
    margin-bottom: 30px;
    width: 48.9%;
    transition: 0.3s ease-out;

    &:hover {
        box-shadow: 0px 20px 20px 0px hsl(0deg 0% 0% / 17%);
    }

    @media (max-width: 1919px) {
        width: 48.7%;
    }

    @media (max-width: 1161px) {
        width: 100%;
    }

    @media (max-width: 577px) {
        width: 170px;
        margin-bottom: 20px;
        flex-direction: column;
    }

    &--disable {

        @media (max-width: 577px) {
            display: none;
        }
    }

    &__img {
        margin: -1px;
        width: 220px;
        height: 220px;

        @media (max-width: 577px) {
            width: 170px;
            height: 170px;
        }
    }

    &__info {
        margin: 0 30px;

        @media (max-width: 577px) {
            margin: 0px;
            padding: 10px;
        }
    }
}

.card-info {

    @media (max-width: 1161px) {
        width: 40%;
    }

    @media (max-width: 769px) {
        width: 60%;
    }

    @media (max-width: 577px) {
        width: auto;
    }

    &__txt {
        font-family: 'Roboto';
        font-size: 18px;
        line-height: 22px;
        height: 62px;
        margin-bottom: 2px;

        @media (max-width: 577px) {
            height: 98px;
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__availability {
        display: flex;
        align-items: center;
        font-family: 'Open-Sans';
        font-size: 16px;
        line-height: 18px;
        padding: 16px 0;

        @media (max-width: 577px)  {
            padding: 12px 0;
            font-size: 14px;
            line-height: 17px;
        }

        &--orange::before {
            content: "";
            display: block;
            background-image: url("../img/orange.svg");
            width: 14px;
            height: 14px;
            margin-right: 10px;
        }

        &--green::before {
            content: "";
            display: block;
            background-image: url("../img/green.svg");
            width: 14px;
            height: 14px;
            margin-right: 10px;
        }
    }
}

.about {
    width: 100%;
    padding: 0 15px;

    &__container {
        margin: auto;
    }
}

.about-container {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    padding: 7px 0;

    @media (max-width: 1919px) {
        padding: 84px 0;
        max-width: 1160px;
    }

    @media (max-width: 1161px) {
        max-width: 768px;
        padding: 53px 0;
    }

    @media (max-width: 769px) {
        max-width: 576px;
        padding: 49px 0;
    }

    @media (max-width: 577px) {
        max-width: 360px;
    }
}

.about-content {
    padding: 35px 0;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1161px) {
        flex-direction: column;
    }

    @media (max-width: 769px) {
        padding: 31px 0;
    }

    @media (max-width: 577px) {
        padding: 21px 0;
    }
}

.about-content-img {
    display: flex;
    flex-wrap: wrap;
    width: min-content;
    gap: 26px;
    justify-content: space-between;
    align-content: flex-start;

    @media (max-width: 1919px) {
        gap: 18px;
    }

    @media (max-width: 1161px)  {
        gap: 27px;
    }

    @media (max-width: 769px) {
        gap: 20px;
    }

    @media (max-width: 577px) {
        gap: 11px;
    }
}

.about-content-info {
    padding-left: 30px;

    @media (max-width: 1919px) {
        padding-left: 30px;
    }

    @media (max-width: 1161px) {
        padding-left: 0;
        padding-top: 26px;
    }

    @media (max-width: 577px) {
        padding-top: 16px;
    }

    &__title {
        font-family: "Open-Sans";
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        color: hsl(225, 13%, 18%);
    }

    &__txt {
        font-family: "Open-Sans";
        font-size: 16px;
        line-height: 24px;
        color: hsl(225, 13%, 18%);
        margin-bottom: 31px;

        @media (max-width: 1919px) {
            line-height: 21px;
            margin-bottom: 33px;
        }

        @media (max-width: 769px) {
            line-height: 23px;
            margin-bottom: 32px;
        }

        @media (max-width: 577px) {
            margin-bottom: 20px;
        }
    }
}

.about-content-info-list {
    list-style: none;

    &__item {
        font-family: "Open-Sans";
        font-size: 16px;
        line-height: 23px;
        padding-left: 39px;
        margin: 21px 0;
        position: relative;
        color: hsl(225, 13%, 18%);

        @media (max-width: 1919px) {
            margin: 22px 0;
        }

        @media (max-width: 577px) {
            margin: 20px 0;
        }

        &::before {
            content: "";
            background: url('../img/list.svg');
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}